@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 32 30% 98%;
    --foreground: 22 14% 9%;

    --card: 30 30% 96%;
    --card-foreground: 20 14% 9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 22 14% 9%;
 
    --primary: 11 80% 35%;
    --primary-foreground: 11 5% 98%;
 
    --secondary: 30 80% 60%;
    --secondary-foreground: 26 20% 13%;
 
    --muted: 30 10% 92%;
    --muted-foreground: 30 7% 45%;
 
    --accent: 20 71% 44%;
    --accent-foreground: 22 47.4% 95%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 30 15% 85%;
    --input: 30 15% 85%;
    --ring: 30 80% 30%;
 
    --radius: 0.25rem;
  }
 
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Roboto Slab', serif;
    @apply bg-earth-sandLight text-neutral-dark antialiased;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23e0c492' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
}

@layer components {
  .material-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }

  .texture-overlay {
    position: relative;
  }
  
  .texture-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.06' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 5v1H5z'/%3E%3Cpath d='M6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    pointer-events: none;
    z-index: 10;
    opacity: 0.3;
  }

  .hero-section {
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23d1a95e' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: cover;
  }

  .section-heading {
    @apply text-3xl md:text-4xl font-bold mb-6 text-earth-clayDark relative inline-block;
    font-family: 'Rubik', sans-serif;
  }

  .section-heading::after {
    content: '';
    @apply absolute bottom-0 left-0 h-1 bg-earth-clay w-1/2 rounded;
  }

  .red-clay-bg {
    background-color: #b95f41;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 4a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%23993311' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .sand-pattern-bg {
    background-color: #e6c588;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264.888-.14 1.005-.174 1.837-.83 2.28-1.7.445-.9.645-1.996.645-3.3 0-1.302-.2-2.397-.645-3.285-.443-.884-1.275-1.54-2.28-1.7-.445-.17-.7-.3-.888-.14-.16.066-.342.134-.357.133h-2.77c.35.23.006.467.006.7 0 1.347-.26 2.676-.77 3.9-.5 1.228-1.2 2.304-2.1 3.23.342-.13.66-.26.888-.14 1.005-.174 1.837-.83 2.28-1.7.445-.9.645-1.996.645-3.3 0-1.302-.2-2.397-.645-3.285-.443-.884-1.275-1.54-2.28-1.7-.445-.17-.7-.3-.888-.14-.16.066-.342.134-.357.133h-2.77c.35.23.006.467.006.7 0 1.347-.26 2.676-.77 3.9-.5 1.228-1.2 2.304-2.1 3.23.342-.13.66-.26.888-.14 1.005-.174 1.837-.83 2.28-1.7.445-.9.645-1.996.645-3.3 0-1.302-.2-2.397-.645-3.285-.443-.884-1.275-1.54-2.28-1.7-.445-.17-.7-.3-.888-.14-.16.066-.342.134-.357.133h-2.77c.35.23.006.467.006.7 0 1.347-.26 2.676-.77 3.9-.5 1.228-1.2 2.304-2.1 3.23.342-.13.66-.26.888-.14 1.005-.174 1.837-.83 2.28-1.7.445-.9.645-1.996.645-3.3 0-1.302-.2-2.397-.645-3.285-.443-.884-1.275-1.54-2.28-1.7-.445-.17-.7-.3-.888-.14-.16.066-.342.134-.357.133h-2.77c.35.23.006.467.006.7 0 1.347-.26 2.676-.77 3.9-.5 1.228-1.2 2.304-2.1 3.23.342-.13.66-.26.888-.14 1.005-.174 1.837-.83 2.28-1.7.445-.9.645-1.996.645-3.3 0-1.302-.2-2.397-.645-3.285-.443-.884-1.275-1.54-2.28-1.7-.445-.17-.7-.3-.888-.14-.16.066-.342.134-.357.133h-2.77c.35.23.006.467.006.7 0 1.347-.26 2.676-.77 3.9-.5 1.228-1.2 2.304-2.1 3.23.342-.13.66-.26.888-.14 1.005-.174 1.837-.83 2.28-1.7.445-.9.645-1.996.645-3.3 0-1.302-.2-2.397-.645-3.285-.443-.884-1.275-1.54-2.28-1.7-.445-.17-.7-.3-.888-.14-.16.066-.342.134-.357.133h-2.77c.35.23.006.467.006.7 0 1.347-.26 2.676-.77 3.9-.5 1.228-1.2 2.304-2.1 3.23.342-.13.66-.26.888-.14 1.005-.174 1.837-.83 2.28-1.7.445-.9.645-1.996.645-3.3 0-1.302-.2-2.397-.645-3.285-.443-.884-1.275-1.54-2.28-1.7-.445-.17-.7-.3-.888-.14-.16.066-.342.134-.357.133H0v2.14h1.613c.224.323.502.525.857.69.55.212 1.15.396 1.8.584l.094.033c.47.17.934.345 1.4.53l.206.088c.47.193.95.396 1.413.61l.212.092c.46.2.918.408 1.373.62l.215.096c.46.208.92.422 1.383.648l.216.1c.46.22.93.45 1.384.68l.216.105c.46.23.92.476 1.38.725l.21.116c.48.258.96.54 1.424.825l.218.138c.49.3.97.63 1.44.97l.207.16c.5.38.99.77 1.47 1.18l.16.143c.35.344.7.68 1.04 1.04l.197.2c.34.367.68.748 1.02 1.146l.15.188c.62.783 1.2 1.607 1.76 2.477l.044.073c.33.534.63 1.08.93 1.636l.075.151c.3.556.57 1.137.83 1.737l.052.123c.28.662.51 1.346.74 2.053l.02.068c.55 1.802.81 3.74.84 5.835l.002.027c0 .32-.033.53-.08.875l-.32.26c-.03.247-.06.47-.08.658l-.4.269c.04.67.07 1.33.11 1.985l.22.337c.04.557.09 1.09.13 1.576l.6.654c.07.684.15 1.28.2 1.63l.03.184c.07.35.15.617.18.667.16.266.34.406.53.406h7.13c.66 0 1.24-.246 1.67-.693.36-.37.7-.94.7-1.87s-.34-1.498-.7-1.87c-.43-.446-1.02-.692-1.67-.692h-.57c-.66 0-1.24.246-1.67.692-.36.372-.7.942-.7 1.87s.34 1.5.7 1.87c.43.447 1.01.693 1.67.693h.01c.66 0 1.24-.246 1.67-.693.37-.37.7-.94.7-1.87s-.33-1.498-.7-1.87c-.43-.446-1.01-.692-1.67-.692h-.01c-.66 0-1.24.246-1.67.692-.36.372-.7.942-.7 1.87s.34 1.5.7 1.87c.43.447 1.01.693 1.67.693h.2c.66 0 1.24-.246 1.67-.693.36-.37.7-.94.7-1.87s-.34-1.498-.7-1.87c-.43-.446-1.01-.692-1.67-.692h-.1c-.66 0-1.24.246-1.67.692-.36.372-.7.942-.7 1.87s.34 1.5.7 1.87c.43.447 1.01.693 1.67.693h.11c.66 0 1.24-.246 1.67-.693.36-.37.7-.94.7-1.87s-.34-1.498-.7-1.87c-.43-.446-1.01-.692-1.67-.692h-.11c-.66 0-1.24.246-1.67.692-.36.372-.7.942-.7 1.87s.34 1.5.7 1.87c.43.447 1.01.693 1.67.693H16.6c.66 0 1.24-.246 1.67-.693.36-.37.7-.94.7-1.87s-.34-1.498-.7-1.87c-.43-.446-1.01-.692-1.67-.692h-.28c-.66 0-1.24.246-1.67.692-.36.372-.7.942-.7 1.87s.34 1.5.7 1.87c.43.447 1.01.693 1.67.693h2.38c.66 0 1.24-.246 1.67-.693.36-.37.7-.94.7-1.87s-.34-1.498-.7-1.87c-.43-.446-1.01-.692-1.67-.692H18c-.66 0-1.24.246-1.67.692-.36.372-.7.942-.7 1.87s.34 1.5.7 1.87c.43.447 1.01.693 1.67.693h.28c.66 0 1.24-.246 1.67-.693.36-.37.7-.94.7-1.87s-.34-1.498-.7-1.87c-.43-.446-1.01-.692-1.67-.692h-.28c-.66 0-1.24.246-1.67.692-.36.372-.7.942-.7 1.87s.34 1.5.7 1.87c.43.447 1.01.693 1.67.693h.96c.66 0 1.24-.246 1.67-.693.36-.37.7-.94.7-1.87s-.34-1.498-.7-1.87c-.43-.446-1.01-.692-1.67-.692h-.56c-.66 0-1.24.246-1.67.692-.36.372-.7.942-.7 1.87s.34 1.5.7 1.87c.43.447 1.01.693 1.67.693h.56z' fill='%23aa8547' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .rugged-card {
    @apply bg-earth-sandLight border border-earth-sand rounded-md shadow-md overflow-hidden transition-all duration-300;
  }
  
  .rugged-card:hover {
    @apply shadow-lg transform -translate-y-1;
  }

  .testimonial-card {
    @apply bg-white/90 backdrop-blur-sm border border-earth-sand rounded-md p-5 shadow-md transition-all duration-300;
  }

  .testimonial-card:hover {
    @apply shadow-lg transform -translate-y-1;
  }

  .gallery-item {
    @apply rounded-md overflow-hidden transition-all duration-300;
  }

  .gallery-item:hover {
    @apply transform scale-[1.02] shadow-xl;
  }
}


